<!DOCTYPE html>
<html lang="en">

<head>

<head>
	<title>IoT Login</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.cs" rel="stylesheet">
	<link rel="stylesheet" href='/static/style.css' />
</head>

<body>

	<div class="container">
		<h1>Home Login</h1>
	
		<form method="POST" action="/" >
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" name="username" class="form-control" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" class="form-control" placeholder="Password">
			</div>

		<button type="watch" class="btn btn-default">Submit</button>
		</form>
	</div>
	<div class="container">
		<form method="GET" action="/login">
			<button type="submit" class="btn btn-primary">Biometric Login</button>
		</form>
	</div>
</body>
</html>